@import url(normalize.css);

@font-face {
	src: url(../font/Montserrat.ttf);
	font-family: Montserrat;
	font-size: normal;
}

.header {
	width: 100vw;
	height: 140px;
	background-image: linear-gradient(to bottom, royalblue 30%, greenyellow 100%);
	font-family: Montserrat;
	font-size: 20px;
	display: flex;
	align-items: center;
}

.header h1 {
	margin-left: 30px;
}

.imageContainer {
	width: 100vw;
	height: 1080px;
	background-image: url(../img/image-01.jpg);
	background-size: cover;
}

.menu {
	width: 100vw;
	height: 140px;
	display: flex;
	align-items: center;
	background-image: linear-gradient(to bottom, greenyellow 10%, royalblue 100%);
}

.menu a {
	font-family: Montserrat;
	font-size: 20px;
	color: black;
	text-decoration: none;
}

.mainText {
	width: 100vw;
	line-height: 30px;
	font-family: Montserrat;
	font-size: 20px;
	margin: 30px;
}

.footer {
	width: 100vw;
	height: 140px;
	background-color: royalblue;
	display: flex;
	align-items: center;
}

.footer p {
	font-family: Montserrat;
	font-size: 20px;
	color: white;
	margin-left: 30px;
}

